@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

body {
  margin: 0px;
  padding: 0px;
}

/* Navbar Section */
.navbar {
  height: 150px;
  background-color: #1D160B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width:150px;
  height: 150px;
  margin-left: 130px;
}

.navbar ul {
  list-style: none;
  margin-right: 130px;
}

.navbar ul li{
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin-left: 20px;
}

.home {
  background-color: #BE3434;
}

.home:hover {
  background-color: #E5E5E5;
  color: black;
}

.others:hover{
  background-color: #BE3434;
}

/* Intro Section */
.intro{
  height: 830px;
  background-color: #CBCFD2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-Img {
  height: 250px;
  width: 250px;
  margin-top: -400px;
  margin-right: 200px;
}

.info {
  margin-left: 150px;
}

.info h2 {
  font-size: 40px;
  line-height: 1.2;
}

.info p {
  font-size: 20px;
  margin-top: -10px;
}

.redText {
  color: #BE3434;
}

.circleInfo {
  display: flex;
  align-items: center;
}

.circleInfo p {
  margin-top: 20px;
  margin-left: -30px;
  font-size: 23px;
  font-family: 'Charm', cursive;
}

.whiteTxt {
  color: white;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #BE3434;
  border-radius: 100px;
}

/* News Sources Section */
.container {
  height: 1000px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-md-4 {
  background-color: #1D160B;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  height: 1000px;
}

.col-md-4 h2 {
  margin-top: 70px;
  background-color: #BE3434;
  padding: 15px;
  border-radius: 20px 0px;
  color: white;
}

.col-md-4 ul{
  list-style: none;
  text-align: center;
  color: white;
  margin-right: 50px;
  line-height: 1.6;
}