@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

body {
  margin: 0px;
  padding: 0px;
}

/* Navbar Section */
.navbar {
  height: 150px;
  background-color: #1D160B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 150px;
  height: 130px;
  margin-left: 130px;
}

.navbar ul {
  list-style: none;
  margin-right: 130px;
}

.navbar ul li{
  display: inline-block;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin-left: 20px;
}

.active, .btn:hover {
  background-color: #BE3434;
  color: white;
}

.active:hover {
  background-color: #E5E5E5;
  color: black;
}

/* .others:hover{
  background-color: #BE3434;
} */

/* Intro Section */
.intro{
  height: 830px;
  background-color: #CBCFD2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-Img {
  height: 250px;
  width: 250px;
  margin-top: -400px;
  margin-right: 200px;
}

.info {
  margin-left: 150px;
}

.info h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
}

.info p {
  font-size: 20px;
  margin-top: 10px;
}

.redText {
  color: #BE3434;
}

.circleInfo {
  display: flex;
  align-items: center;
}

.circleInfo p {
  margin-top: 20px;
  margin-left: -30px;
  font-size: 23px;
  font-family: 'Charm', cursive;
}

.whiteTxt {
  color: white;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #BE3434;
  border-radius: 100px;
}

/* News Sources Section */
#container {
  margin: 0px;
  max-width: 100% !important;
}

.col-md-5 {
  background-color: #1D160B;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 370vh;
  max-width: 30% !important;
}

.col-md-5 h2 {
  margin-top: 70px;
  background-color: #BE3434;
  padding: 15px;
  border-radius: 20px 0px;
  color: white;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
}

.col-md-5 ul{
  list-style: none;
  text-align: left;
  margin-right: 50px;
  line-height: 1.6;
}

.col-md-5 ul li a {
  color: white;
  text-decoration: none;
}

.col-md-5 ul li a:visited {
  color: white;
}

.col-md-5 ul li a:hover{
  color: #ffa28f;
  text-decoration: underline;
}

/* News Headlines Section */
.col-md-8 {
  height: 370vh;
  overflow: scroll;
}

.headlines-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.headlines-section-header hr {
  width: 15px;
  margin: 15px;
  margin-top: 30px;
  height: 3px;
  border: none;
  background: #1D160B;
}

.headlines-section-header h2{
  color: #1D160B;
  font-family: 'Charm', cursive;
  font-size: 25px;
  letter-spacing: 1.0px;
  font-weight: bold;
  margin-top: 30px;
}

.headlines {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  margin-right: 50px;
  padding-right: 50px;
  padding-left: 30px;
}

.headlines img {
  width: 400px;
  height: 250px;
  margin-right: 30px;
  border-radius: 5px;
}

.headlines-info {
  text-align: left;
}

.headlines-info h2 {
  color: #BE3434;
  text-decoration: underline;
}

.date {
  font-weight: bold;
}

.readMore {
  width: 50px;
  height: 50px;
  background-color: #BE3434;
  border-radius: 100px;
  float: right;
}

.readMore img {
  width: 20px;
  height: 20px;
  margin: 15px;
}

/* Slider Section */
.slider {
  height: 300px;
  background-color: #CBCFD2;
  text-align: center;
}

.slider h1 {
  line-height: 1.6;
  padding-top: 100px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 50px;
  font-weight: bold;
}

/* Footer Section */
.footer {
  height: 130px;
  background-color: black;
}

.fa {
  margin-top: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  color: white;
}

.fa:hover {
    color: #8EC5FC;
}

.social {
  display: flex;
  justify-content: center;
  margin-right: 30px;
}

.footer hr{
  height: 2px;
  width: 15%;
  margin-left: 42%;
  color: white;
}

.footer p {
  color: white;
  text-align: center;
  font-size: 18px;
}

/* Tech Page Styles Section */

/* Heading Section */
.header {
  text-align: center;
  margin-top: 60px;
}

.header h2 {
  font-weight: bold;
}

.left-horizontal {
  width: 170px;
  margin-left: 710px;
  margin-top: -10px;
  background-color: #1D160B;
  height: 2px;
}

.red-circle {
  width: 30px;
  height: 30px;
  background-color: #BE3434;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.right-horizontal {
  width: 170px;
  margin-right: 710px;
  margin-top: -28px;
  background-color: #1D160B;
  height: 2px;
}

.bottom-horizontal {
  width: 200px;
  background-color: #1D160B;
  height: 2px;
  margin-top: 28px;
}

/* Articles Section */
.container {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 100%;
  max-width: 80% !important;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col-md-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px;
  max-width: 60% !important;
  height: 650px;
  border: 1px solid #1D160B;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.col-md-3 img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.articles-info h2 {
  font-size: 20px;
  font-weight: bold;
  color: #BE3434;
  text-decoration: underline;
}

.articles-info button {
  padding: 10px;
  margin-top: 20px;
  background-color: #BE3434;
  border: none;
  border-radius: 5px;
}

.articles-info button a {
  color: white;
  text-decoration: none;
  font-family: 'Charm', cursive;
  font-size: 20px;
  font-weight: bold;
}

.articles-info button a:visited {
  color: white;
}