<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <title>The Daily Dose Bulletin</title>
  </head>
  <body>
    <!-- Navbar block  --> 
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock %}
    <!-- Content block -->
    {% block content %}

    {% endblock%}
  </body>
</html>