{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
  <title>The Daily Dose Bulletin</title>
</head>

<body>
  <!-- Navbar section -->
  <header class="navbar">
    <img src="../static/images/logo.png" alt="Logo" />

    <ul>
      <li><a class="home" href="{{ url_for('landing_page') }}">HOME</a></li>
      <li><a class="others" href="#">TECH</a></li>
      <li><a class="others" href="#">BUSINESS</a></li>
      <li><a class="others" href="#">ENTERTAINMENT</a></li>
    </ul>
  </header>

  <!-- Introduction section -->
  <div class="intro">
    <div class="info">
      <h2>Having Trouble <span class="redText">KEEPING UP</span> With The <br> <span class="redText">CURRENT</span>
        Affairs?</h2>
      <p>We help you get acccess to all the news around the globe from anywhere at anytime!</p>
      <div class="circleInfo">
        <div class="circle"></div>
        <p><span class="whiteTxt">Let'</span>s Dive In!</p>
      </div>

    </div>

    <img class="big-Img" src="../static/images/h-image.jpg" alt="Newspaper Image" />
    <img class="small-Img" src="../static/images/h-image.jpg" alt="Newspaper Image" />
  </div>

  <div class="container">
    <div class="row">
      <!-- News Sources section -->
      <div class="col-md-5">
        <h2>NEWS SOURCES</h2>
        <ul>
          {{macros.displaySourcesList(news_sources)}}
        </ul>
      </div>

      <!-- News Headlines section -->
      <div class="col-md-6">
        <div class="headlines-section-header">
          <hr class="horizontal">
          <h2>NEWS HEADLINES</h2>
          <hr class="horizontal">
        </div>

        {% for headline in news_headlines %}
          <div class="headlines"> 
            <img src={{headline.image}} alt="Headline Image">

            <div class="headlines-info">
              <h2>{{headline.title}}</h2>
              <p>Author: <span class="date">{{headline.author}}</span></p>
              <p>Date Posted: <span class="date">{{headline.publishedAt}}</span></p>
              <p>{{headline.description}}</p>
              <div class="readMore">
                <a href={{headline.url}}>
                <img src="https://img.icons8.com/material-sharp/24/ffffff/arrow.png"/>
                </a>
              </div> 
            </div>
          </div>
        {% endfor %}
  
      </div>
    </div>
  </div>

  <!-- Slider section -->
  <div class="slider">
    <h1>GET <span class="redText">knowledge</span> FROM <span class="redText">far</span> AND <span class="redText">beyond</span> WITH <br> JUST A <span class="redText">CLICK</span> </h1>  
  </div>

  <!-- Footer section -->
  <div class="footer">
    <div class="social">
      <a href="https://www.linkedin.com/in/shalyne-waweru-b2b965212/" class="fa fa-linkedin"></a>
      <a href="https://github.com/Shalyne-Waweru" class="fa fa-github"></a>
      <a href="https://www.facebook.com/shalyne.wangari" class="fa fa-facebook"></a>
    </div>
    <hr>
    <p>Shalyne <span>&#169;</span> 2022. TheDailyDoseBulletin. All Rights Reserved.</p>
  </div>
</body>

</html>