<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
  </head>
  <body>
    <!-- Navbar section -->
    <header class="navbar">
      <img src="../static/images/logo.png" alt="Logo"/>

      <ul>
        <li><a class="home" href="#">HOME</a></li>
        <li><a class="others" href="#">TECH</a></li>
        <li><a class="others" href="#">BUSINESS</a></li>
        <li><a class="others" href="#">ENTERTAINMENT</a></li>
      </ul>
    </header>
  </body>
</html>