<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <title>Document</title>
  </head>
  <body>
    <!-- Navbar section -->
    <header class="navbar">
      <img src="../static/images/logo.png" alt="Logo"/>

      <ul>
        <li><a class="home" href="#">HOME</a></li>
        <li><a class="others" href="#">TECH</a></li>
        <li><a class="others" href="#">BUSINESS</a></li>
        <li><a class="others" href="#">ENTERTAINMENT</a></li>
      </ul>
    </header>

    <!-- Introduction section -->
    <div class="intro">
      <div class="info">
        <h2>Afraid You Can't <span class="redText">KEEP UP</span> With The <br> <span class="redText">CURRENT</span> Affairs?</h2>
        <p>We help you get acccess to all the news around the globe from anywhere at anytime!</p>
        <div class="circleInfo">
          <div class="circle"></div>
          <p><span class="whiteTxt">Let'</span>s Dive In!</p>
        </div>
        
      </div>

      <img class="big-Img" src="../static/images/h-image.jpg" alt="Newspaper Image"/>
      <img class="small-Img" src="../static/images/h-image.jpg" alt="Newspaper Image"/>
    </div>
  </body>
</html>